In [32]:
import numpy as np
import pandas as pd
import scipy
import statistics as st

In [2]:
data = [
    {'name': 'Adam', 'Math': 11, 'Science': 9, 'Reading': 16, 'History': 13.5},
    {'name': 'Anna', 'Math': 12, 'Science': 11, 'Reading': 8.5, 'History': 10},
    {'name': 'James', 'Math': 11, 'Science': 18, 'Reading': 11.5, 'History': 9},
    {'name': 'Corey', 'Math': 7, 'Science': 15.5, 'Reading': 11, 'History': 14},
    {'name': 'Alisha', 'Math': 9.5, 'Science': 12, 'Reading': 10.5, 'History': 14},
    {'name': 'Jodie', 'Math': 15, 'Science': 18.5, 'Reading': 7, 'History': 12},
    {'name': 'John', 'Math': 18, 'Science': 15.5, 'Reading': 11, 'History': 7.5},
]

In [6]:
students_df = pd.DataFrame(data)

In [7]:
display(students_df)

     name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0
5   Jodie  15.0     18.5      7.0     12.0
6    John  18.0     15.5     11.0      7.5

# QUESTION 1
Calculate the mean for each individual subject.

Find the median grade in Math for all students.

Calculate the mode for History.

In [18]:
math_mean = students_df["Math"].mean()
math_mean = '{:.2f}'.format(math_mean)
print(math_mean)

11.93

In [20]:
sci_mean = students_df["Science"].mean()
sci_mean = '{:.2f}'.format(sci_mean)
print(sci_mean)

14.21

In [21]:
read_mean = students_df["Reading"].mean()
read_mean = '{:.2f}'.format(read_mean)
print(read_mean)

10.79

In [22]:
hist_mean = students_df["History"].mean()
hist_mean = '{:.2f}'.format(hist_mean)
print(hist_mean)

11.43

In [24]:
math_median = students_df["Math"].median()
print(math_median)

11.0

In [26]:
scipy.stats.mode(students_df["History"])

ModeResult(mode=14.0, count=2)

# QUESTION 2
Given the following grades from Question 1, calculate the correlation between the different subjects. What two subjects have the strongest correlation?

In [27]:
students_df.corr(numeric_only = True)

             Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000

The strongest correlation is between Math and History. The correlation is -0.72. As shown, the correlation is strong but in a negative direction.

# QUESTION 3
Write a Python function named desc_stats() that takes a list of numbers and prints the following statistical calculations:
Mean
Median
Mode
Minimum
Maximum
Range
Variance
Standard deviation

Use the  desc_stats() function to print the results of the exam scores.

In [57]:
grades_list = np.array([24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60])

In [58]:
def desc_stats(num_list):
    print(f"Mean: {'{:.2f}'.format(np.mean(num_list))}")
    print(f"Median: {int(np.median(num_list))}")
    print(f"Mode: {int(st.mode(num_list))}")
    print(f"Minimum: {int(np.min(num_list))}")
    print(f"Maximum: {int(np.max(num_list))}")
    print(f"Range: {int(np.ptp(num_list))}")
    print(f"Variance: {'{:.2f}'.format(np.var(num_list))}")
    print(f"Standard Deviation: {'{:.2f}'.format(np.std(num_list))}")


desc_stats(grades_list)

Mean: 59.48
Median: 60
Mode: 60
Minimum: 5
Maximum: 99
Range: 94
Variance: 664.16
Standard Deviation: 25.77

In [60]:
grades_df = pd.Series(grades_list)

In [61]:
grades_df.describe()

count    23.000000
mean     59.478261
std      26.350556
min       5.000000
25%      46.500000
50%      60.000000
75%      81.000000
max      99.000000
dtype: float64